.gradient-purple{
  background: rgb(214,103,119);
  background: linear-gradient(47deg, rgba(214,103,119,1) 0%, rgba(29,21,58,1) 72%);
}

.first-ground{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}