.btn-cta{
  position: absolute;
  z-index: 1000;
  width: 20%;
  top: 45%;
  left: 62%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.fadeOut{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 0;
  }
}

button{
  background-color: transparent;
  border: none;
  border-width: 0;
  color: white;
  font-family: $body-font-family;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
  &:hover{
    color: $hoverbtn;
  }
}

.next-btn{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -4rem;
  left: 45%;
  opacity: 0;
  &.animated{
    -webkit-animation: animatedBtnNext 19s ease-in forwards;
    -o-animation: animatedBtnNext 19s ease-in forwards;
    animation: animatedBtnNext 19s ease-in forwards;
  }
}

@keyframes animatedBtnNext {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
