.figure-smoke{
  width: calc(5963px / 21);
  height: 90px;
  background: url("./assets/img/decollage.png");
  -webkit-animation: animate 1.2s steps(6) infinite;
  -o-animation: animate 1.2s steps(6) infinite;
  animation: animate 1.2s steps(6) infinite;
  margin: 0 auto;
}


@keyframes animate {
  from{
    background-position: 0;
  }
  to{
    background-position: 100%;
  }
}