.gradient-purple{
  background: url('./assets/img/background_home.svg');
}

.p-absolute{
  position: absolute;
  bottom: 0;
  left: 0;
}

.first-ground{
  z-index: 999;
}

.second-ground{
  z-index: 899;
}