.cloud-figure{
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 13%;
  top: 11%;
  z-index: 1000;
  &.animated{
    -webkit-animation: animateCloud 1.8s linear 2s forwards;
    -o-animation: animateCloud 1.8s linear 2s forwards;
    animation: animateCloud 1.8s linear 2s forwards;
  }
}

@keyframes animateCloud {
  0%{
    top: 11%;
  }
  100%{
    top: 110%;
  }
}
