@font-face {
  font-family: "Furore";
  src: url("./assets/fonts/furore/Furore.otf");
}
@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("./assets/fonts/barlow-condensed/BarlowCondensed-Regular.ttf");
}
@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url("./assets/fonts/barlow-condensed/BarlowCondensed-Bold.ttf");
}
