// ---------------------------------------------------------
// Variables
// 1 - Fonts
// 2 - Colors
// ---------------------------------------------------------

$fa-font-path: "assets/fontawesome/webfonts" !default;

$html-font-size: 16 !default; // px
$body-font-size: 14 !default; // px
@media screen and (min-width: 1365px){
    $body-font-size: 16 !default; // px
}

$body-font-family: 'BarlowCondensed-Regular', sans-serif;
$font-family-1 :'Furore', sans-serif;
$font-family-2 :'BarlowCondensed-Bold', sans-serif;

// ------------------------------------
// Colors
// ------------------------------------

$default:      	       #151010, !default; // grisf
$yellowLight:          #FFFF81, !default;
$greenLight:           #55ffe7, !default;

$color-1: #50464C;

//Ecran cockpit
$color-2: #1FEFEB;
$color-3: #08D2FA;

$border-radius: 2px;

// COLUMNS

$global-width: 1170px !default;
$gutter-width: 1.5em !default;

// BREAKPOINT

$screen-xxl: 1580px !default;
$screen-xl: 1200px !default;
$screen-lg: 1024px !default;
$screen-sm: 768px !default;
$screen-xs: 576px !default;
