.gradient-purple{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  &.animated{
    -webkit-animation: animate 16s ease-in 1.8s forwards;
    -o-animation: animate 16s ease-in 1.8s forwards;
    animation: animate 16s ease-in 1.8s forwards;
  }
}

@keyframes animate {
  0%{
    background-position: bottom;
  }
  100%{
    background-position: top;
  }
}